@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #17181b;
    font-family: "montserrat", sans-serif;
}

/* navbar starts here */

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    max-width: 80px;
    margin-left: 80px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s; 
}

.nav_links li a:hover {
    color: #0088A9;
}

.cta {
    margin-right: 70px;
}

button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}
/* navbar ends here */

/* main top starts here */
.container {
    margin: 150px 0px 0px auto;
    padding: 0px 40px;
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}

.row:after {
    content: "";
    display: table;
    clear: both
}

.content {
    max-width: 71%;
    width: auto;
    vertical-align: top;
    display: inline-block;
    margin-left: -38%;
    color: #edf0f1;
}

.content .button-1 {
    margin: 40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.large_font{
    font-size: 2.5vw;
    font-weight: 600;
    padding-right: 40px;
}

.small-font {
    width: 360px;
    margin-top: 32px;
    max-width: 100%;
    font-size: .85vw;
    line-height: 1.4em;
}

.column-1 {
    width: 600px;
}

.laptop {
    height: auto;
    max-width: 100%;
    padding-right: 50px;
    /* margin: 0px 0px 300px 70px;*/
    margin-left: 70px;
}

/* main top ends here */

hr {
    display: block;
    border: 0;
    border-top: 100px solid #27292e;
    margin: 9.375em 0;
    padding: 0;
}

/* alternating section starts here */

    .Section {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 0 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .Section:after {
        content: "";
        display: block;
        width: 50%;
        margin: 100px 0;
    }
    @media (max-width: 970px) {
        .Section:after {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    .Section .SectionInner {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        max-width: 1440px;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        -o-box-direction: reverse;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    @media (max-width: 970px) {
        .Section .SectionInner {
            max-width: 750px;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -o-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .Section .SectionInner .SectionText {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: start;
        -moz-box-align: start;
        -o-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        padding-inline-end: 100px;
        margin-left: 2%;
    }
    @media (max-width: 970px) {
        .Section .SectionInner .SectionText {
            -webkit-box-align: center;
            -moz-box-align: center;
            -o-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            padding-inline-end: 0px;
            margin-top: 55px;
        }
    }
    .Section .SectionInner .SectionText h1 {
        font-size: 35px;
        text-transform: none;
        font-weight: 500;
        line-height: 3em;
        margin-top: 0;
        padding-top: 0;
        color: #edf0f1;
    }
    @media (max-width: 970px) {
        .Section .SectionInner .SectionText h1 {
            text-align: center;
        }
    }
    .Section .SectionInner .SectionText p {
        font-size: 16px;
        color: #969899;
        line-height: 1.8em;
        margin-top: 5px;
        color: rgb(155, 157, 159);
    }
    @media (max-width: 970px) {
        .Section .SectionInner .SectionText p {
            text-align: center;
            padding: 0;
        }
    }
    .Section .SectionInner .SectionImg {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -o-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .Section .SectionInner .SectionImg img {
        width: 100%;
    }
    .Section:nth-of-type(even) .SectionInner {
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    @media (max-width: 970px) {
        .Section:nth-of-type(even) .SectionInner {
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -o-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
    .Section:nth-of-type(even) .SectionText {
        padding-inline-start: 100px;
        padding-inline-end: 0;
    }
    @media (max-width: 970px) {
        .Section:nth-of-type(even) .SectionText {
            padding-inline-start: 0;
        }
        .Section:nth-of-type(even) .SectionText p {
            text-align: center;
        }
    }
    .button.brand.default.large.grow {
        width: 300px;
        height: 60px;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        background-color: #62d3f5;
    }

    body,
    h1,
    p {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 0;
        font-family: "Montserrat";
        font-size: 100%;
        font-style: inherit;
        font-weight: inherit;
        margin: 0;
        outline: 0;
        padding: 0;
        vertical-align: baseline;
    }

/* alternating section ends here */

/* footer starts here */

.main-container{
	max-width: 1170px;
	margin:auto;
}
.main-row{
	display: flex;
	justify-content: center;
}
ul{
	list-style: none;
}
.footer{
	background-color: #17181b;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #0088A9;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.footer-col .second-column {
    margin-top: 58px;
}

.footer-button {
    height: 200px;
    position: relative;
}

.center2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.footer-button .center2 button {
    padding: 15px 30px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.footer-button .center2 button:hover {
    background-color: rgba(0,136,169,0.8);
}

/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
}
}